<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dương Vũ - PS11284</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./bai2Style.css">
</head>

<body ng-app="b2">
    <div class="main" ng-controller="hienthi">
        <div id="particles-js"></div>
        <form class="form" id="form-1">
            <h3 class="heading">Tính diện tích và chu vi hình chữ nhật</h3>

            <div class="spacer"></div>

            <div class="form-group">
                <label for="dai" class="form-label">Chiều dài</label>
                <input id="dai" type="text" name="dai" ng-model="dai" class="form-control">
                <span class="form-message"></span>
            </div>

            <div class="form-group">
                <label for="rong" class="form-label">Chiều rộng</label>
                <input id="rong" type="text" name="rong" ng-model="rong" class="form-control">
                <span class="form-message"></span>
            </div>

            <div class="form-group">
                <label for="" class="form-label">Chu vi</label>
                <span name="chuvi" class="form-control">{{chuvi}}</span>
            </div>
            <div class="form-group">
                <label for="" class="form-label">Diện tích</label>
                <span name="dientich" class="form-control">{{dientich}}</span>
            </div>

            <div class="form-group invalid">
                <span class="form-message text-center">Err</span>
            </div>

            <div class="form-group">
                <button class="form-submit" ng-click="tinhtoan()">TÍNH TOÁN</button>
            </div>
        </form>

    </div>
    
    <script src="./validator.js"></script>
    <script src="./particles.js"></script>
    <script src="./bai2.js"></script>
    <script>
        app = angular.module('b2', []);
        app.controller('hienthi', xuly);

        function xuly($scope) {
            $scope.tinhtoan = function () {
                kiemTraChu();
                kiemTraSo();

                var d = parseFloat($scope.dai);
                var r = parseFloat($scope.rong);
                $scope.chuvi = (d + r) * 2;
                $scope.dientich = (d * r);

            }
        }

        // Mong muốn của chúng ta
        Validator({
            form: '#form-1',
            formGroupSelector: '.form-group',
            errorSelector: '.form-message',
            rules: [
                Validator.isNumber('#dai'),
                Validator.isNumber('#rong'),
                Validator.isNumber0to10('#dai'),
                Validator.isNumber0to10('#rong'),
            ],
            onSubmit: function (data) {
                // Call API
                // console.log(data)
            }
        });
        
    </script>
</body>

</html>