* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: #333;
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

.main {
    background: #f1f1f1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    width: auto;
    margin: auto;
    background-color: #fff;
    font-size: 16px;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

.table-header {
    font-size: 26px;
    display: flex;
    justify-content:center;
    padding: 10px 0;
}

.btn-add {
    display: flex;
    align-items: center;
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    border-radius: 50px;
    color: #fff;
    background-color: #1dbfaf;
    border: none;
    padding: 10px;
    margin-top: -43px;
    outline: none;
}

.btn-add:hover {
    cursor: pointer;
    background-color: #1ab1a2;
}

th, td {
    border: 1px solid black;
    padding: 6px;
    text-align: center;
}

caption {
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
}

input[type="checkbox"] {
    margin: 0 5px;
}

hr {
    margin: 20px 0 0 0;
    border: 1px solid black;
}
h3 {
    text-align: center;
}

.quantity {
    width: 50px;
    height: 20px;
}

.select {
    border-radius: 10px;
    height: 30px;
    text-align: center;
    outline: 0;
}

.edit, .delete {
    cursor: pointer;
    margin: 0 10px;
    color: #1dbfaf;
}

.edit:hover, .delete:hover {
    color: #1ab1a2;
}

.overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all linear 0.3s;
}

.main-form {
    position: fixed;
    z-index: 1;
    width: 360px;
    margin: 0;
    padding: 0;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}