* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.main {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Margin */
.mt-4 {
    margin-top: 16px;
}
/* ------ */

.grid.wide.custom-wide {
    max-width: 1000px;
    margin: 0 auto;
}

.container {
    width: 100%;
    position: relative;
    z-index: 1;
    margin-top: 50px;
}

.cv-body {
    background-color: white;
    border-radius: 27px;
    overflow: hidden;
}

/* LEFT */

/* TOP */
.cv-profile {
    background-color: #f6f7f9;
    border-radius: 20px;
}

.cv-profile-top {
    display: flex;
    justify-content: center;
}

.cv-img {
    margin-top: 40px;
    width: 210px;
    border-radius: 40px;
}

.cv-profile-name {
    font-size: 26px;
    text-align: center;
    font-weight: 500;
    color: #608192;
}

.cv-profile-name {
    margin: 20px 0;
}

.cv-profile-social {
    text-align: center;
    margin-bottom: 10px;
}

.social-icon {
    padding: 0 10px;
    font-size: 16px;
    color: #8b8a89;
}

.social-icon:hover {
    cursor: pointer;
    color: #353333;
}

/* BOTTOM */

.cv-profile-bottom {
    padding-bottom: 10px;
}

.cv-profile-info-block {
    display: flex;
    align-items: center;
}

.info-icon {
    font-size: 16px;
    color: #666565;
    margin-left: 50px;
}

.cv-profile-info-text {
    font-size: 16px;
    margin: 10px 0;
    margin-left: 20px;
    color: #666565;
}

/* RIGHT */

/* TOP */
.cv-right {
    padding-right: 30px;
}

.cv-right-about {
    background-color: white;
    height: 200px;
    padding: 20px 0;
}

.about-header {
    font-size: 26px;
    font-weight: 600;
    color: #505050;
    margin: 0;
    margin-top: 20px;
}

.about-content-body {
    font-size: 14px;
    color: #504f4f;
    margin-top: 20px;
}


/* BOTTOM */
/* LEFT */
.cv-design, .cv-dev {
    background-color: white;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 27px;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.img-design {
    width: 50px;
    opacity: 0.5;
}

/* RIGHT */

/*  */

body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 650px;
    background-color: #000000;
}