* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.main {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid.wide.custom-wide {
    max-width: 1000px;
    margin: 0 auto;
}

.container {

}

.answer {
}

.title-question {
    font-size: 2em;
    font-weight: 600;
}

.answer-item {
    font-size: 1.5em;
    line-height: 26px;
}

.btn-change-color:hover {
    cursor: pointer;
}