html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid orange;
    border-radius: 10px;
    overflow: hidden;
}

.container h1 {
    padding: 10px 20px;
    margin: 0;
    color: #fff;
    font-size: 23px;
}

.table_header {
    text-align: center;
    background-color: orangered;
}

.table_body {
    padding: 20px;
    background-color: #000;
}

.table_body-top {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

span:not(#slx) {
    color: orange;
    font-size: 18px;
}

#slx {
    color: pink;
    font-weight: 600;
    font-size: 36px;
}

p {
    margin-top: 10px;
    color: rgb(47, 235, 72);
    text-align: center;
}